img.icon {
    height: 90px;
    width: 150px;
    /*ボタンのアイコン*/
}

div.border {
    border-bottom: 2px solid #DDDDDD;
    width: 180px;
    /*ボーダー*/
}

div.odysee {
    font: #FF99CC;
}

iframe.rumble {
    display: block;
    width: 750px;
    height: 450px;
    margin: 0 auto;
    /*このコードでrumble動画の中央よせが可能*/
}

iframe.odysee {
    display: block;
    width: 750px;
    height: 450px;
    margin: 0 auto;
    /*このコードでodysee動画の中央よせが可能*/
}

iframe.x {
    display: block;
    width: 750px;
    height: 450px;
    margin: 0 auto;
    /*このコードでxやnitterの中央よせが可能*/
}

iframe.x_big {
    display: block;
    width: 750px;
    height: 600px;
    margin: 0 auto;
    /*このコードでxやnitter大サイズの中央よせが可能*/
}

video.video_start{
    display: block;
    width: 750px;
    height: 600px;
    margin: 0 auto;
    /*このコードでvideoファイルの中央よせが可能*/
}

object.pdf {
    display: block;
    width: 550px;
    height: 730px;
    margin: 0 auto;
    /*このコードでPDFの中央よせが可能に*/
}

/* object.pdf2 {
     display: block;
     width: 550px;
     height: 730px;
     margin: 0 auto;
     このコードでPDFの中央よせが可能に
    ｝
*/
