b.h2_title {
    display: block;
    font-size: 18px;
    /*強調とh2サイズ*/
}

b.h2_title_center {
    display: block;
    font-size: 18px;
    text-align: center;
    /*強調とh2サイズと中央ぞろえ*/
}

h2.center{
    text-align: center;
}

div.center {
    text-align: center;
    /*中央ぞろい*/
}

b.h2_title_red{
    color: #ff0000;
    display: block;
    font-size: 18px;
}